{% extends "blogs/base.html" %}

{% block content %}
    <h2>Freelance Python backend-developer.</h2>
    <h2>Studying Computer Science and Economics</h2>
    <p>I am a passionate computer science student  who loves to write about a variety of topics,
      including technology, Spirituality, Self-improvement, and more.
      My goal is to share my knowledge and experiences with the world through this blog.</p>
    <p>Feel free to reach out to me with any questions or comments you may have. I would love to hear from you!</p>

{% endblock %}