{% extends "blogs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h2 class="display-4"> < .. Glad you're here! <br> I'm Frandel .. /> </h2>
    <h3 class="display-5">Empowering Businesses with Dynamic Web Solutions.</h3>
    <p class="lead">
        Are you seeking a web development wizard who can take your online presence
        to unprecedented heights? Look no further! I have good coding skills in Python,
        Django, HTML, CSS, and JavaScript. Everything you need,
        to bring your wildest web dreams to life.<br>

        But it doesn't stop there. My relentless passion for crafting awe-inspiring
        digital solutions puts me on the forefront of emerging technologies.
        I have an insatiable appetite for learning and can effortlessly adapt to new technologies,
        ensuring that your projects stay ahead of the curve. From responsive design to backend and API's,
        I have some fair knowledge of the web development landscape.
        A deep understanding of problem-solving and a keen eye for detail to every project makes me standout.
        I strive to solve complex challenges and transforming them into elegant, efficient solutions.<br>

        Let's collaborate and elevate your digital presence.
    </p>

      <a class="btn btn-primary btn-lg" href="{% url 'blogs:contact'%}" role="button" style="background-color: #c4dfdf;">Hire me &raquo;</a>
  </div>
{% endblock page_header %}


